body {
    padding: 0px;
    margin: 0px;
}

.parant {
    width: 100%;
    height: 100vh;
    background-image: url("../img/background1.jpg");
    background-size: cover;
    position: relative;
}

.layer {
    background-color: rgba(255, 255, 255, 0.109);
    position: absolute;
    width: 100%;
    height: 100vh;
}

.nav {
    background-color: rgba(233, 233, 233, 0.567);
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 10;
    font-weight: bold;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}


.nav ul {
    float: right;
    margin-right: 20px;
}

.nav li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-right: 10px;
}

.nav a:after {
    content: " ";
    position: absolute;
    background-color: rgb(240, 88, 50);
    width: 0;
    height: 15%;

    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.nav a:hover:after {
    width: 80%;
    height: 15%;
    transition: 0.5s;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content h2 {
    color: white;
    font-size: 52px;
    text-align: center;
    font-family: "Lucida Handwriting";
}

.content p {
    color: rgb(163, 154, 154);
    font-size: 25px;
    text-align: center;
    font-family: papyrus;
}

.content button {
    padding: 25px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.start {
    margin-left: 30%;
}

.more {
    background-color: rgb(240, 88, 50);
    margin-left: 10px;
}

.content button:hover {
    opacity: 0.4;
    transition: 1s;
}

.section {
    background-color: rgba(255, 255, 255, 0.295);
    color: black;
    text-align: center;
}

.explore {
    width: 300px;
    height: 300px;
    border: 3px solid rgb(240, 88, 50);
    display: inline-block;
    margin: 30px;
    transition: 1s;
}

.explore i,
.section2 i {
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
}

.line {
    width: 100px;
    height: 5px;
    background-color: rgb(240, 88, 50);
    margin: -30px 0px 35px 47%;
}

.section h4 {
    font-size: 20px;
}

.section p {
    padding: 10px 0px 50px 0px;
}


.section a {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    transition: 0.5s;
}


.explore:hover {
    background-color: rgb(240, 88, 50);
    border: 3px solid black;
    transition: 1s;
    color: white;
}

.explore:hover a {
    transition: 1s;
    background-color: white;
    color: rgb(240, 88, 50);
    font-weight: bold;
    cursor: pointer;
}

div>h2 {
    color: black;
    font-size: 45px;
    text-align: center;
    font-family: "Lucida Handwriting";
    padding-top: 20px;
}

.section2 {
    background-color: rgb(212, 211, 211);
}

.section2 .img {
    display: inline-block;
    margin: 0px 0px 30px 11%;
    position: relative;
}

.section2 img {
    width: 350px;
    height: 400px;
}

.layer2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 2s;
    text-align: center;
}

.section2 .img:hover .layer2 {
    opacity: 1;
    transition: 1s;
}


.layer2 h4 {
    font-size: 30px;
    padding: 2px 0px 10px 0px;
    color: white;
}

.layer2 p {
    font-size: 15px;
    padding-bottom: 10px;
    color: rgb(237, 121, 68);
}

.layer2 a {
    color: white;
}

.section3 .explore {
    height: 200px;
    width: 20%;
    margin: 20px 0px 10px 10%;
    text-align: center;
}

.section4 {
    background-color: rgb(212, 211, 211);
    padding-bottom: 20px;
}



.faq img {
    width: 300px;
    height: 500px;
    margin-left: 10%;
}

.faq li {
    list-style: none;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    word-spacing: 5px;
    transform: uppercase;
    width: 500px;
    background-color: rgb(223, 222, 222);
    font-weight: bolder;
}

.list-q {
    display: inline-block;
    margin: 50px 20% 10% 10%;
    position: absolute;
}

.faq li:after {
    content: " ";
    position: absolute;

    width: 0;
    height: 100%;

    top: 0;
    left: 0;
    transition: 2s;
}

.faq li:hover:after {
    width: 100%;
    height: 100%;
    background-color: rgba(240, 88, 50, 0.534);
    transition: 1s;
}

.section5 {
    background: url(../img/div1.jpg) fixed;
    background-size: cover;
    width: 100%;
    height: 300px;
    color: white;
    position: relative;
    margin: 100px 0px;
}

.icons-img {
    width: 90%;
    height: 100%;
    margin: auto;
    position: absolute;
}

.icon {
    margin-left: 18%;
    margin-top: 4%;
    display: inline-block;
    text-align: center;
    padding: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.layer-5 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.322);
    width: 100%;
    height: 100%;
}

.icon i {
    font-size: 35px;
}

.icon p {
    font-family: 'Times New Roman', Times, serif;
}

.pricing {
    background-color: rgb(255, 255, 255);
    padding-bottom: 50px;
}

.pricing li {
    list-style: none;
    margin: 0px 0px 8px -30px;
    padding: 5px;
    border: 1px solid rgb(165, 165, 165);
}

.pricing-items {
    width: 90%;
    margin: auto;
}

.item {
    display: inline-block;
    width: 20%;
    margin-left: 10%;
    padding-bottom: 50px;
    border: 1px solid rgb(0 0 0);
    text-align: center;
    padding-right: 5px;
    position: relative;
    background-color: rgb(255 255 255);
}

.price {
    border: 2px solid rgb(240, 88, 50);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}


.dolar {
    font-size: 35px;
    line-height: 1px;
    font-weight: bold;
}

.month {
    line-height: 2px;
    font-size: 20px;
}

.pricing .text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item:before {
    content: " ";
    position: absolute;
    background-color: rgb(135 133 133 / 35%);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
}

.item:hover:before {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.pricing button {
    padding: 10px;
    background-color: none;
    border: 1px solid rgb(240, 88, 50);
    position: absolute;
    z-index: 5;
    left: 37%;
    cursor: pointer;
}

.members {
    background: url(../img/div1.jpg) fixed;
    background-size: cover;
    height: 300px;
    position: relative;
}


.container {
    width: 80%;
    margin: auto;
}

.member {
    display: inline-block;
    padding: 12px 8px;
    width: 20%;
    margin: 40px 0px 20px 20%;
    color: white;
}

.member-img {
    overflow: auto;
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.member-img img {
    max-width: 100%;
}

.member-info {
    float: left;
    margin-top: 10px;
    margin: 10 0 0 12px;
}

.member-info h3,
.member-info p {
    margin-top: 0px;
    margin-bottom: 6px;
}

.member-footer p {
    width: 80%;
}

.clearfix {
    clear: both;
}

.section6 {
    background-color: rgb(212, 211, 211);
    width: 100%;
    padding-bottom: 20px;
}

.travel-item img {
    width: 300px;
    height: 400px;
    margin-top: 10px;
}

.travel-items {
    width: 90%;
    margin: auto;
}

.travel-item {
    border: 1px solid gray;
    width: 20%;
    display: inline-block;
    margin-left: 10%;
    text-align: center;
    position: relative;
}

.travel-container {
    padding: 20px;
    position: relative;
    background-color: rgb(223, 222, 222);
    font-size: larger;
}

.travel-item:after {
    background-color: rgba(73, 73, 73, 0.445);
    position: absolute;
    content: " ";

    top: 0;
    left: 0;
    width: 100%;
    height: 0;
}

.travel-item:hover:after {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.travel-icons {
    font-size: 20px;
    position: absolute;
    top: 30;
    right: 22;
    z-index: 5;
    cursor: pointer;
}

.travel-icons i {
    display: none;
    line-height: 50px;
    width: 60px;
    background-color: rgb(240, 88, 50);
    color: white;
    border: 1px solid gray;
}

.travel-item:hover i {
    display: block;
    transition: 1s;
}

.section7 {
    padding-bottom: 50px;
}

.offers-container {
    width: 90%;
    margin: auto;
}

.offers-item {
    width: 25%;
    margin-left: 5%;
    text-align: center;
    display: inline-block;
    border: 1px solid gray;
    padding: 15px;
    padding-bottom: 50px;
    background-color: rgb(223, 222, 222);
    position: relative;
    cursor: pointer;
}

.offers-container img {
    width: 350px;
    height: 350px;
}

.offers-item:after {
    content: " ";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.315);

    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.offers-item:hover:after {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.offers-item a {
    position: absolute;
    left: 40%;
    z-index: 5;
}

.offers-item a {
    border: 2px solid rgb(240, 88, 50);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(245, 74, 31, 0.856);
    display: inline-block;
    margin-bottom: 10px;
    color: white;
    transition: 0.5s;
}

.footer {
    width: 100%;
    height: 300px;
    background-color: rgb(70, 70, 70);
    position: relative;
}

.footer-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.footer-container img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.footer-icons i {
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 5px;
    color: rgb(238, 101, 67);
    cursor: pointer;
}

.footer-icons i:hover {
    transition: 0.5s;
    font-size: 50px;
}